<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825241591327-m5gfnmqtd4ogj5tu223usaggsvh8fscm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825241591327-m5gfnmqtd4ogj5tu223usaggsvh8fscm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>825241591327-0f627h57k29pert667usnil5c4r3grkk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfIInAoyTs1YDZPSfgc0IG77D5lT0eZHA</string>
	<key>GCM_SENDER_ID</key>
	<string>825241591327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appanotacaoviagem</string>
	<key>PROJECT_ID</key>
	<string>appanotacaoviagem</string>
	<key>STORAGE_BUCKET</key>
	<string>appanotacaoviagem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825241591327:ios:abe92b37292ccc2b707f2a</string>
</dict>
</plist>